canvas{
    background: red;
    
  }
  
  canvas{
    box-shadow:0 0 0 1px gold;
  }
  
  #palette{
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    transition: 200ms;
      transform: translateX(30px);
  }
  #palette:hover{
  
  
    transform: translateX(0px);
  }
  .samples{
     transition: 100ms;
    width: 40px;
    height: 30px;
    /* border:1px solid; */
    /* margin: 10px; */
  
    box-shadow: inset 0px 4px 8px -4px rgba(0,0,0,1);
  }
  #sample1{background: #E74D41;}
  #sample2{background: #EB4078;}
  #sample3{background: #AA46BB;}
  #sample4{background: #7C57C1;}
  #sample5{background: #5D6CC0;}
  #sample6{background: #738EFB;}
  #sample7{background: #29B4F6;}
  #sample8{background: #26C3D9;}
  #sample9{background: #26A498;}
  #sample10{background: #2BAE2B;}
  #sample11{background: #9BCB66;}
  #sample12{background: #D2DF56;}
  #sample13{background: #FCEC57;}
  #sample14{background: #FDC828;}
  #sample15{background: #FDA226;}
  
  body .samples.act,body .samples:hover{
    transform: scale(1.2);
    z-index: 23;
    position: relative;
     box-shadow: inset 0px 4px 0px -4px rgba(0,0,0,1)
       ,3px 0px 13px -2px rgba(0,0,0,1)
       ;
  }
  /* body .samples.act{ */
    /* width: 40px; */
    /* left: -10px; */
    /* outline:7px solid; */
  
    /* box-shadow: inset 0 0 0px 2px rgba(0,0,0,0.8); */
 /*  } */
  
  body{
    background: #333;
  }
  
  



  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  layerts*/



  body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #141414;
    background: #1F1F1F;
    color: white;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
  }
  /*правая панель*/

  #TEpanelR {
    z-index: 1;
    /* width: 162px; */
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    /* background: gold; */
    position: fixed;
    top: 0;
    right: 0px;
    background: #282828;
  }
  /*слой*/

  .TElayer {
      opacity: 1;
      transition: all   0.15s ease-in-out;
      transition: all   0.15s ease-out;
      /* background: gold; */
      transform: scale(1);
    position: relative;
    /* position: absolute; */
    user-select: none;
    overflow: hidden;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 12px;
    /* background: #282828; */
    background: transparent;
    /* background: #222; */
    height: 36px;
    width: 100%;
    width: 170px;
    border: none;
    /* background: white; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    /* border-bottom: 1px solid tomato; */
    /* flex: 0 0 auto; */
    /* display: flex; */
  }





  .TElayer:hover {
    color: white;
    background: #2f2f2f;
    background: #242424;
  }

  .act::after,
  .TElayer:hover::after {
    display: none;
  }
  /*иконка*/

  /* .TElayerIcon { */
  .TElayer img { 
    position: absolute;
    margin: 7px 0 0 6px;
    border: rgba(225, 225, 225, 0.09) 1px dashed;
    width: 20px;
    height: 20px;
  }

  .TElayerName {
    cursor: default;
    position: relative;
    position: absolute;
    margin: 10px 0px 0 37px;
    white-space: nowrap;
    /* откл перенос строк */
    /* overflow: hidden; */
    /*обрезание*/
    /* text-overflow: ellipsis; */
    /*точки*/
  }




  
  .act:hover {
    color: #ffc61e;
  }

  .act {
    color: #ffc61e;
    /* background: t; */
    background: #1f1f1f;
  }

  .TElayer::after {
    top: 0;
    right: 0;
    position: absolute;
    content: '';
    /* Выводим элемент */
    width: 21px;
    /* Ширина градиента*/
    height: 100%;
    /* Высота родителя */
    /* Градиент */
    background: linear-gradient(to right, rgba(255, 204, 0, 0.1), #fc0 100%);
    background: linear-gradient(to right, rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.90) 50%, #282828 70%);
    background: linear-gradient(to right, rgba(40, 40, 40, 0.4), #282828 93%);
  }



  .pulse {
    transition: all 0s !important;
    /* background: gold; */
    opacity: 0;
    /* transform: scale(0.8); */
    /* transform: scaleX(0.2); */
    /* transform-origin: 100% 100; */

    transform:scale(1.1) translate(40px);
  }